<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">	
	
	<mapper namespace="ErrorMapper">	
		<resultMap id="DeviceResult" type="DeviceVO">
		    <id property="device_id" column="device_id" />
		    <result property="device_name" column="device_name"/>
		    <result property="device_address" column="device_address"/>
		    <result property="device_latitude" column="device_latitude"/>
		    <result property="device_longitude" column="device_longitude"/>
		    <result property="regidate" column="regidate"/>
		    <result property="updatedate" column="updatedate"/>
		    <collection property="errorList" ofType="ErrorVO" resultMap="ErrorResult"/>
		</resultMap>
		
		<resultMap id="ErrorResult" type="ErrorVO">
			<id column="e_id" property="e_id"/>
			<result column="device_ip" property="device_ip"/>
			<result column="err_code" property="err_code"/>
			<result column="err_type" property="err_type"/>
			<result column="err_message" property="err_message"/>
			<result column="server_time" property="server_time"/>
			<result column="count" property="count"/>
			<result column="month" property="month"/>
			<result column="year" property="year"/>
		</resultMap>
		
		<select id="selectErrByTime" resultMap="DeviceResult">
			SELECT 
				a.device_id
				, a.device_name
				, a.device_ip
				, b.err_code
				, b.err_type
				, b.err_message
				, b.server_time 
			FROM 
				gztls_device a
			JOIN 
				(
				SELECT 
					device_ip
					, err_code
					, err_type
					, err_message
					, server_time 
				FROM 
					gztls_error
				<where> 
					<if test='server_time != null'>
						server_time = #{server_time}
					</if>			
				</where>
				) b
			ON a.device_ip = b.device_ip;
		</select>	
		
		<insert id = "insertError">
			INSERT INTO 
				gztls_error( 
					device_ip
					, err_code
					, err_type
					, err_message
					, server_time
			) VALUES( 
					#{device_ip}
					, #{err_code}
					, #{err_type}
					, #{err_message}
					, #{server_time}
			)
		</insert>
		
		<select id = "selectErrCnt" resultMap="ErrorResult">
		SELECT 
			err_type
			, COUNT(err_type) as count
		FROM 
			gztls_error
		<where>
			<if test='device_ip != null'>
			device_ip = #{device_ip}
			</if>
		</where> 
		GROUP BY 
			err_type;	
		</select>
		
		<select id="selectOneErrCnt" resultMap="DeviceResult">
		SELECT 
			a.device_id
			, a.device_name
			, a.device_ip
			, b.err_type
			, b.count
		FROM
			(
				SELECT 
					device_ip
					, err_type
					, COUNT(err_type) AS count
				FROM 
					gztls_error
				GROUP BY 
					err_type, device_ip
			) b
		LEFT JOIN
			gztls_device a
		ON 
			a.device_ip = b.device_ip
		WHERE
			device_id = #{device_id}
		</select>
		
		<select id="errmntr" resultType="ErrorVO">
		SELECT
			*
		FROM 
			gztls_error
		WHERE
			server_time BETWEEN #{from} and #{til};
		</select>
		
		<select id="err24" resultMap="DeviceResult">
		SELECT 
			a.device_id
			, a.device_name
			, a.device_ip
			, a.device_latitude
			, a.device_longitude
			, b.err_code
			, b.err_type
			, b.err_message
			, b.server_time
		FROM
			(
				SELECT 
					*
				FROM 
					gztls_error
				WHERE
					server_time BETWEEN #{from} and #{til}
			) b
		LEFT JOIN
			gztls_device a
		ON 
			a.device_ip = b.device_ip
		ORDER BY
			b.server_time DESC;
		</select>
		
		<select id="cntByMonth" resultMap="DeviceResult">
		SELECT 
			b.device_id
			, b.device_name
			, a.device_ip
			, a.month
			, a.count
		FROM
			(	
				SELECT 
					device_ip, SUBSTR(server_time,6,2) AS month, COUNT(SUBSTR(server_time,6,2)) AS count
				FROM gztls_error 
				WHERE
					SUBSTR(server_time,1,4) = #{year}
				GROUP BY device_ip, SUBSTR(server_time,6,2)
			) a
		LEFT JOIN
			gztls_device b
		ON 
			a.device_ip = b.device_ip
		<where>
			<if test='device_id != null'>
				device_id = '00000000522291dbb827eb'			
			</if>
		</where> 
		ORDER BY month;
		</select>
		
		<select id="yearList" resultType="errorVO">
		SELECT 
			SUBSTR(server_time,1,4) AS year
		FROM 
			gztls_error
		GROUP BY year;
		</select>
	</mapper>